.right {
  float: right;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.login {
  width:250px;
  height: auto;
  background-color: white;
  z-index: 1000;
  position: absolute;
  top: 80px;
  padding: 15px;
  border: 1px dashed darkgrey;
}

@media (min-width: 768px) {
  .login {
    right: 50px;
  }
}
@media (min-width: 992px) {
  .login {
    right: 150px;
  }
}
@media (min-width: 1200px) {
  .login {
    right: 200px;
  }
}


.nav__email {
  padding-right: 15px;
}
