<div>
<header class="site-nav">
    <div class="container">
        <div class="nav__header">
             <router-link to="/" class="nav__logo">
                <svg viewBox="0 0 72 135" width="15" height="40" class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet">
                    <defs>
                        <path d="M24.17 63.79C-5.38 42.89 -5.38 21.63 24.17 0" id="exS9caME"></path>
                        <path d="M24.17 31.9C53.72 52.8 53.72 74.06 24.17 95.68" id="a3zmJhEzZr"></path>
                        <path d="M24.17 140C-5.38 119.1 -5.38 97.84 24.17 76.22" id="apicEORL"></path>
                        <path d="M24.17 108.11C53.72 129.01 53.72 150.27 24.17 171.9" id="b2YAcYP99d"></path>
                    </defs>
                    <g>
                        <g>
                            <g>
                                <g>
                                    <use class="svg__path__part1" xlink:href="#exS9caME" opacity="1" fill-opacity="0" stroke="#000000"
                                         stroke-width="4" stroke-opacity="1"></use>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <use class="svg__path__part2" xlink:href="#a3zmJhEzZr" opacity="1" fill-opacity="0" stroke="#e31d1d"
                                         stroke-width="4" stroke-opacity="1"></use>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <use class="svg__path__part3" xlink:href="#apicEORL" opacity="1" fill-opacity="0" stroke="#e31d1d"
                                         stroke-width="4" stroke-opacity="1"></use>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <use class="svg__path__part4" xlink:href="#b2YAcYP99d" opacity="1" fill-opacity="0" stroke="#000000"
                                         stroke-width="4" stroke-opacity="1"></use>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <p class="logo__text"><span class="logo__text__part1">Pavel</span> <span
                        class="logo__text__part2">Červený</span></p>
            </router-link>
        </div>
        <nav class="nav__container">
            <ul>
                <li><router-link to="/" class="active">Home</router-link></li>
                <li><router-link to="/categories">Categories</router-link></li>
                <li><router-link to="/feed">Feed</router-link></li>
                <li><router-link to="/about">About</router-link></li>

                <li v-if="!userEmail" style="float:right" @click.prevent="showLoginComp"><a href="">Login</a></li>
                <li v-else style="float:right">
                    <span class="nav__email">{{userEmail}}</span>
                    <router-link to="/addPost">Add Post</router-link>
                    <a href="" @click.prevent="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<transition name="fade">
    <div v-if="showLogin && !userEmail" class="login">
        <div v-if="errorMsg" class="alert alert-danger" role="alert">
            Incorrect credentials!
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="emailModel">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="passwordModel">
            </div>
            <button type="submit" class="btn btn-dark" @click.prevent="login">Submit</button>
        </form>
    </div>
</transition>
</div>