* {
  background: #fff;
  float: none !important;
  transition: none !important;
}

.nav__header {
  width: 400px;
  height: 150px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

main {
  padding-top: 75px;
}

main.index {
  padding-top: 75px;
}

.site-nav {
  box-shadow: none;
}

.logo__text {
  font-size: 40px;
}

.site-nav .nav__header .nav__logo .logo {
  height: 150px;
  width: 50px;
}

.nav__container {
  display: none;
}

.site-nav .nav__header .nav__logo {
  padding: 0;
}

h1.main-header {
  display: none;
}

footer {
  display: none;
}

.right-column {
  display: none;
}


a[href^="http://"]:after, a[href^="ftp://"]:after {
  content: " (" attr(href) ")";
  color: blue;
  font-size: small;
}

.always-page-break-after
{
  page-break-after: always;
}