* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #f22929;
}

img {
  border: 0;
  padding: 0;
}

.red {
  color: #f22929;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.site-nav {
  background-color: #fff;
  box-shadow: 1px 0 2px 2px rgba(42,42,42,.25);
  position: relative;
  width: 100%;
  z-index: 400;
  height: 70px;
}

.nav__container {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  float: left;
}

.nav__container ul {
  width: 100%;
  height: 100%;
  line-height: 70px;
}

.nav__container ul li {
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 15px;
}

.nav__container ul li a {
  color: #a1a1a1;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.nav__container ul li a:hover {
  color: #f22929;
}

.nav__container ul li a:active {
  color: #f22929;
}

.nav__header {
  height: 100%;
  width: 20%;
  float: left;
}

.site-nav .nav__header .nav__logo {
  display: inline-block;
  padding: 14px 0;
  height: 70px;
  box-sizing: border-box;
}

.site-nav .nav__header .nav__logo .logo {
  height: 40px;
  width: 15px;
  display: inline-block;
  vertical-align: middle;
}

.logo__text {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  color: #525252;
  font-size: 17px;
  font-weight: 700;
}

.nav__logo {
  text-decoration: none;
}

.nav__logo:hover .logo__text__part2 {
  color: #f22929;
}

.nav__logo:hover .svg__path__part1 {
  stroke: #f22929;
}

.nav__logo:hover .svg__path__part2 {
  stroke: #000;
}

.nav__logo:hover .svg__path__part3 {
  stroke: #000;
}

.nav__logo:hover .svg__path__part4 {
  stroke: #f22929;
}

@media screen and (min-width: 1050px) {
  .site-nav {
    border-top: 6px solid #f22929;
    position: relative;
  }

  .nav__container {
    background-color: transparent;
    position: relative;
    top: -6px;
    padding: 0;
  }

  .site-nav .nav__header {
    float: left;
    margin-right: 30px;
    margin-top: -6px;
  }
}

/* MAIN */

main {
  height: 567px;
  height: calc(100vh - 70px);
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 20px;
  overflow: auto;
}

main .main-header {
  text-align: center;
  color: rgba(0, 0, 0, 0.07);
  font-family: Lato, sans-serif;
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 2px;
}

.main-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 45px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}
@media (min-width: 768px) {
  .main-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 1170px;
  }
}

.index {
  padding-top: 45px;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 5px #dcdcdc;
  color: #2a2a2a;
  height: auto;
}

.section-label {
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #d62626;
}

.box-popular {
  margin-top: 25px;
  margin-bottom: 25px !important;
}

.box-popular h2 {
  font-size: 16px !important;
}

/* POSTS */

.card-post {
  margin-right: 20px;
  margin-bottom: 50px;
}

.card-post h2 {
  font-family: Source Sans Pro, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.card-post p {
  font-family: Source Sans Pro,sans-serif;
  font-size: 16px;
  color: #525252;
}

.card-post h2 a{
  color: #f22929;
}

.card-post .post__img {
  max-height: 300px;
  overflow: hidden;
}

.card-post .post__img img {
  display: block;
  width: 100%;
}

.card-post .post-text {
  padding: 40px;
  margin-bottom: 20px;
}

.card-post .label {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #ababab;
  font-family: 'Source Code Pro', sans-serif;
  letter-spacing: 2px;
}

.card-post .label a {
  font-weight: normal;
  color: #f22929;
}

.post__footer {
  padding: 15px 40px;
  border-top: 1px solid #e8e8e8;
  overflow: auto;
}

.post__footer .post__similar {
  float: left;
  width: 65%;
}

.post__similar .similar__label {
  display: inline-block;
  vertical-align: middle;
}

.post__similar img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  border-radius: 50%;
}

.post__footer .post__tags {
  float: right;
  width: 35%;
}

.post__tags .tags__block{
  width: 50px;
  height: 25px;
  background-color: #f22929;
  color: #fff;
  text-align: center;
  margin-right: 4px;
  border-radius: 3px;
}

.tags__block span {
  line-height: 25px;
  font-family: Source Sans Pro, sans-serif;
  font-size: 12px;
}

.post__tags ul{
  list-style: none;
  margin-top: 25px;
}

.post__tags ul li{
  display: inline-block;
  float: left;
  vertical-align: middle;
  line-height: 0;
  padding-bottom: 5px;
}

/* GRID TWO COLUMNS */

.left-column {
  width: 66%;
  float: left;
}

.right-column {
  width: 33%;
  float: left;
}

@media (max-width: 992px) {
  .main-container .right-column {
    display: none;
  }
  .left-column {
    width: 100%;
  }
}

/* SINGLE POST */

.post {
  margin-right: 20px;
  margin-bottom: 70px;
}

.post h1 {
  font-family: Source Sans Pro, sans-serif;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #000;
  letter-spacing: 0;
  text-align: left;
}

.post p {
  font-family: Source Sans Pro,sans-serif;
  font-size: 18px;
  color: #525252;
  margin-bottom: 20px;
}

.post .post__img {
  max-height: 400px;
  overflow: hidden;
}

.post .post__img img {
  display: block;
  width: 100%;
}

.post .post-text {
  padding: 40px;
  margin-bottom: 20px;
}

.post .label {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: #ababab;
  font-family: 'Source Code Pro', sans-serif;
  letter-spacing: 2px;
}

.post .label a {
  font-weight: normal;
  color: #f22929;
}

/* FEEDS */

.feeds-header {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 25px;
  display: inline-block;
}

.feed {
  margin-bottom: 40px;
  font-family: 'Source Code Pro', sans-serif;
}

.feed__header {
  color: #f22929;
  vertical-align: middle;
  display: inline-block;
}

.feed__logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 25px;
}

.feed-item {
  margin-top: 25px;
  margin-left: 15px;
}

.feed-item__title {
  font-size: 16px;
}

.feed-item__title a {
  color: #000;
  display: inline-block;
  padding-right: 15px;
  text-decoration: underline;
}

.feed-item__title a:hover {
  text-decoration: none;
}

.title-domain a{
  font-size: 11px;
  color: #a1a1a1;
  text-decoration: none;
}

.title-domain a:hover{
  text-decoration: underline;
}

/* GRID */
.row {
  margin-top: 20px;
  margin-bottom: 10px;
  clear: both;
  overflow: auto;
  height: auto;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
  float: left;
}
.col-1 {
  width: 12.5%;
}

.col-2 {
  width: 25%;
}

.col-3 {
  width: 37.5%;
}

.col-4 {
  width: 50%;
}

.col-5 {
  width: 62.5%;
}

.col-6 {
  width: 75%;
}

.col-7 {
  width: 87.5%;
}

.col-8 {
  width: 100%;
}

/* ABOUT */

h1.about-header {
  display: block;
  border-bottom: 8px solid #333;
}

h2.about-header {
  font-size: 36px;
}


ul.about-info {
  margin-top:50px;
  margin-left: 25px;
  margin-bottom: 50px;
  list-style: none;
}

ul.about-info > li {
  text-indent: -5px;
}
ul.about-info > li:before {
  content: "-  ";
  text-indent: -5px;
}

ul.about-info li {
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

/* FOOTER */

footer {
}

pre code.hljs {
  background-color: #fff;
}

