<div>
    <div class="main-container">
        <div class="card post">
            <div class="post__img">
                <a href="/">
                    <img src="http://localhost:8000/api/image/zepLP1mBeZ6Yvc3IgqySgt4N2Y6gKyw9kpwZhmiC.png" :alt="postTitle" />
                </a>
            </div>
            <div class="post-text">
                <span class="label">
                    <a href="/">news</a> / october 29, 2018
                </span>
                <h1>{{ postTitle }}</h1>
                <div v-html="postContent"></div>
            </div>
        </div>
    </div>
</div>